@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is  simple blog engine used for Dominic's new Blog and to be used by Canberra Xero vacation students if they get stuck building their blog</p>
